<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hi! I'm User!</h1>
		<p>Portland bitters letterpress, Helvetica Shoreditch chillwave viral deep v brunch gastropub health goth. Mumblecore Schlitz you probably haven't heard of them, roof party PBR beard Blue Bottle kale chips migas typewriter. Selfies hoodie ennui, banh mi gastropub Austin fashion axe Vice letterpress tattooed Williamsburg.</p>
	</div>
</div>